.center{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    border: none;
    border-color: aliceblue;
    border-radius: 2em;
}
.center input{
    background-color: whitesmoke;
    width: 300px;
    height: 30px;
    border-radius:0.8em;
}
.col{
    border: none;
    border-radius: 2em;
}
.butt{
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 2rem;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.butt:active{
    background-color: aliceblue;
    color: black;
}
.butt:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
